.Card{
    background-color: blanchedalmond;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid rgb(151, 56, 56);
    margin: 20px;
}

.Title{
    justify-content: center;
    display: flex;
    color: brown;
}

.Content{
    background-color: gray;
    padding: 20px;
}

.Children{
    background-color: rgb(3, 107, 3);
    display: flex;
    justify-content: center;
}